  <!--<p class="socials">
  <a href="http://www.facebook.com/sharer/sharer.php?u={{ SITEURL }}/{{ article.url }}" class="rounded-icon social fa fa-facebook" target="_top" title="Compartilhe no Facebook"></a>
<a href="http://twitter.com/home?status={{ SITEURL }}/{{ article.url }}" class="rounded-icon social fa fa-twitter" target="_top" title="Compartilhe no Twitter"></a>
    <a href="https://plus.google.com/share?url={{ SITEURL }}/{{ article.url }}" class="rounded-icon social fa fa-google-plus" target="_blank" title="Share on Google+"></a>
    <a href="http://pinterest.com/pin/create/link/?url=={{ SITEURL }}/{{ article.url }}" class="rounded-icon social fa fa-pinterest"  target="_blank" title="Share on Pinterest"></a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ SITEURL }}/{{ article.url }}&title={{article.title}}&summary=&source=" class="rounded-icon social fa fa-linkedin" target="_top" title="Compartilhe no Linkedin"></a> 
</p>-->